page-home {
  #date{
      padding-left: 35px;
  }
  #calendar{
       
  }
  #Content{
      background-color:  #ecece6;
       height: 1200px;
       width: 1200px;
        }
       .p{
           text-align: center;
       }
}
